<div class="container" [style.opacity]="visibleAlertErr ? '1' : '0.4' " >
  <div class="addBlog">
    <input type="text" placeholder="write title" [(ngModel)]="title" name="title">
    <textarea cols="30" rows="10" placeholder="write some text" [(ngModel)]="text" name="text"></textarea>
    <input type="text" placeholder="write author" [(ngModel)]="author" name="author">
    <div class="buttons">
        <button id="add" (click)="add()" [disabled]="activeAdd">Add</button>
        <button id="edit" (click)="editFinal()" [style.visibility]="visibleButEditFinal ? 'hidden' : 'visible'">Edit</button>
    </div>
  </div>
  <table>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Text</th>
      <th>Date</th>
      <th>Author</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <hr>
    <tr *ngFor="let blog of blogsArr; index as i">
      <td> {{ i+1 }} </td>
      <td> {{ blog.title }} </td>
      <td> {{ blog.shotrText }} </td>
      <td> {{ blog.date }} </td>
      <td> {{ blog.author }} </td>
      <td><button id="edit" (click)="edit(i)" [disabled]="activeButtonsTable">Edit</button></td>
      <td><button id="delete" (click)="delete(i)" [disabled]="activeButtonsTable">Delete</button></td>
    </tr>
  </table>
</div>

<div class="alertErr" [style.display]="visibleAlertErr ? 'none' : 'flex'">
    <span [style.margin-bottom]="'20px'">One of input is empty</span>
    <button id="delete" (click)="close()">Close</button>
</div>
